/*sets the border settings for all elements*/
* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

/*sets the background color of the webpage*/
body {
background-color: #d9dcd6;
}

/*sets the placement of the header text, font style, background color, and default text color*/
.header {
padding: 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: #2a607c;
color: #fff;
}

/*sets the placement and font size of the header text*/
.header h1 {
display: inline-block;
font-size: 48px;
}

/*sets the color for specific letters in the header text*/
.header h1 .alt-color-header-text {
color: #d9dcd6;
}

/*sets the positioning and the size of the header text*/
.header nav {
padding-top: 15px;
margin-right: 20px;
float: right;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
}

/*sets the positioning of the text in the top navigation bar*/
.header nav ul li {
display: inline-block;
margin-left: 25px;
list-style-type: none;
}

/*sets the color of the text in the header and ensures it does not change color after clicking*/
a {
color: #fff;
text-decoration: none;
}

/*sets the size and position of the main background, hero, image. */
.backgroundimage {
height: 800px;
width: 100%;
margin-bottom: 25px;
background-size: cover;
background-position: center;
}

/*sets the positioning of the Section elements that are anchored to the left side. */
.section-float-left {
float:left;
margin-right:25px;
}

/*sets the positioning of the Section elements that are anchored to the right side. */
.section-float-right {
float:right;
margin-left:25px;
}

/*sets the position of the section elements within the block*/
.content {
width:75%;
display:inline-block;
margin-left:20px;
}

/*sets the font style, size, color of the three main section elements*/
main section {
margin-bottom:20px;
height:300px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color:#0072bb;
color:#fff;
padding:50px;
}

/*sets the image size of the images in the three main section elements*/
main img {
max-height:200px;
}

/*sets the position and size of the section element header text inside the boxes*/
main h2 {
margin-bottom:20px;
font-size:36px;
}

/*sets the box position, colors, and fonts for the aside elements*/
.aside-benefits {
margin-right:20px;
clear:both;
float:right;
width:20%;
height:100%;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color:#2589bd;
padding:20px;
}

/*sets the image properties within the figure elements in the aside*/
.aside-benefits img {
    display:block;
    max-width:150px;
    margin:10px auto;
}

/*sets the positioning and the font color of the figure elements within the aside*/
.aside-benefits figure {
    margin-bottom:32px;
    color:#fff;
}

/*sets the positioning of the headers within the figure elements in the aside*/
.aside-benefits figure h3 {
    margin-bottom:10px;
    text-align:center;
}

/*sets the footer positioning, font size and font text*/
footer {
padding: 30px;
clear: both;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
font-size: 20px;
}
/*sets the font size for the copyright information at the bottom of the page*/
p {
font-size: 16px;
}